<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Credit cards info</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>



<div class="container">

    <form th:action="@{/main}" method="get">
        <button class="btn btn-md btn-success btn-block" name="main_page"
                type="Submit">Главная страница
        </button>
    </form>

    <br>

    <!--    <h2 th:text="${name}">Panel Group</h2>-->
    <form th:action="@{/credit_cards}" method="post">
        <button class="btn-group btn btn-md btn-warning" name="submitAnApplication"
                type="Submit">Подать заявку на открытие кредитной карты
        </button>
        <h4>
            <span class="text-success" th:text="${message}"></span>
        </h4>
    </form>
    <!--    <p>Ваши карты: </p>-->

    <div class="panel panel-primary">

        <div class="panel-heading">Предложения по кредитным картам:</div>

        <div th:each="creditCard : ${creditOffers}">
            <div class="panel panel-default">
                <div class="panel-body" th:utext="${'Лимит кредитной карты: ' + creditCard.limitOfCard}">Лимит</div>
                <div class="panel-body" th:utext="${'Процент кредитной линии: ' + creditCard.percent}">Процент</div>

                <form method="POST" th:action="@{/credit_cards}">
                    <input type="hidden" name="creditCardId" th:value="${creditCard.getId()}"/>
                    <button class="btn btn-success" type="submit" name="accept_button">Принять предложение</button>
                </form>

                <form method="POST" th:action="@{/credit_cards}">
                    <input type="hidden" name="creditCardId" th:value="${creditCard.getId()}"/>
                    <button class="btn btn-danger" type="submit" name="reject_button">Отклонить предложение</button>
                </form>

            </div>

        </div>
    </div>

    <div class="panel panel-primary">

        <div class="panel-heading">Ваши кредитные карты:</div>

        <div th:each="creditCard : ${creditCards}">
            <div class="panel panel-default">
                <div class="panel-heading" th:utext="${'Номер карты: ' + creditCard.getFullNumber()}">Номер карты</div>
                <div class="panel-body" th:utext="${'Баланс: ' + creditCard.getBalance() + ' RUB'}">Баланс</div>
                <div class="panel-body" th:utext="${'Лимит кредитной карты: ' + creditCard.limitOfCard + ' RUB'}">Лимит</div>
                <div class="panel-body" th:utext="${'Процент кредитной линии: ' + creditCard.percent}">Процент</div>
                <div class="panel-body" th:utext="${'Действует до: ' + creditCard.validityPeriod}">Действует до</div>

                <form method="get" th:action="@{/credit_cards/take_credit}">
                    <input type="hidden" name="credit_card_id" th:value="${creditCard.getId()}"/>
                    <button class="btn btn-success" type="submit" name="take_loan_button">Взять кредит</button>
                </form>

                <form method="get" th:action="@{/credit_cards/credits}">
                    <input type="hidden" name="credit_card_id" th:value="${creditCard.getId()}"/>
                    <button th:if="${!creditCard.credits.isEmpty()}" class="btn btn-success"
                            type="submit" name="show_info_about_credits">Посмотреть информацию по кредитам</button>
                </form>

            </div>
        </div>
    </div>
</div>
</body>
</html>