<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Admin transfer</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">

    <form th:action="@{/main}" method="get">
        <button class="btn btn-md btn-success btn-block" name="main_page"
                type="Submit">Главная страница
        </button>
    </form>

    <div class="panel-group" style="margin-top:40px">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h5>Переводы с карт</h5>
            </div>
            <div th:each="transfer : ${transfersFromCard}">
                <div class="panel panel-default">
                    <div class="panel-heading" th:utext="${'Перевод с карты: ' + transfer.card.getFullNumber()}">
                        Номер карты с которой переводили
                    </div>
                    <div class="panel-body"
                         th:utext="${'Перевод на номер карты/счёта: ' + transfer.getNumberForTransfer}">Номер куда
                        переводили
                    </div>
                    <div class="panel-body" th:utext="${'Сумма перевода: ' + transfer.sum}">Сумма перевода</div>
                    <div class="panel-body" th:utext="${'Дата и время перевода: ' + transfer.localDateTime}">Дата
                        перевода
                    </div>

                    <div class="panel-body bg-danger text-danger" th:if="${transfer.needToCheck}">
                        Находится на проверке
                    </div>

                    <form method="POST" th:action="@{/admin/transfers}">
                        <input type="hidden" name="transfer_id" th:value="${transfer.transferId}"/>
                        <button class="btn btn-success" type="submit" name="success_button1">Разрешить перевод</button>
                    </form>

                    <form method="POST" th:action="@{/admin/transfers}">
                        <input type="hidden" name="transfer_id" th:value="${transfer.transferId}"/>
                        <button class="btn btn-danger" type="submit" name="block_button1">Запретить перевод</button>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <div class="panel-group" style="margin-top:40px">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h5>Переводы со счетов</h5>
            </div>
            <div th:each="transfer : ${transfersFromAccount}">
                <div class="panel panel-default">
                    <div class="panel-heading"
                         th:utext="${'Перевод со счёта: ' + transfer.bankAccount.getFullNumber()}">Номер карты с
                        которой переводили
                    </div>
                    <div class="panel-body"
                         th:utext="${'Перевод на номер карты/счёта: ' + transfer.getNumberForTransfer}">Номер куда
                        переводили
                    </div>
                    <div class="panel-body" th:utext="${'Сумма перевода: ' + transfer.sum}">Сумма перевода</div>
                    <div class="panel-body" th:utext="${'Дата и время перевода: ' + transfer.localDateTime}">Дата
                        перевода
                    </div>

                    <div class="panel-body bg-danger text-danger" th:if="${transfer.needToCheck}">
                        Находится на проверке
                    </div>

                    <form method="POST" th:action="@{/admin/transfers}">
                        <input type="hidden" name="transfer_id" th:value="${transfer.transferId}"/>
                        <button class="btn btn-success" type="submit" name="success_button2">Разрешить перевод</button>
                    </form>

                    <form method="POST" th:action="@{/admin/transfers}">
                        <input type="hidden" name="transfer_id" th:value="${transfer.transferId}"/>
                        <button class="btn btn-danger" type="submit" name="block_button2">Запретить перевод</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <p class="admin-message-text text-center">Content available only for users with ADMIN role</p>

</div>
</body>
</html>