<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Card Info</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <form th:action="@{/cards}" method="post">
        <button class="btn-group btn btn-md btn-success" name="card_issue"
                type="Submit">Выпустить карту
        </button>
    </form>

    <div class="panel panel-primary">

        <div class="panel-heading">Ваши карты:</div>

        <div th:each="card : ${cards}">
            <div class="panel panel-default">
                <div class="panel-heading" th:utext="${'Номер карты: ' + card.getFullNumber()}">Номер карты</div>
                <span></span><div class="panel-body" th:utext="${'Баланс: ' + card.getBalance()}">Баланс</div>

                <form style="padding: 5px"
                      th:action="@{/cards/{card_id}(card_id = ${card.id})}" method="get">
                    <button class="btn-group-vertical btn btn-md btn-primary" name="card_info"
                            type="submit">Открыть информацию о карте
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>