<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Contribution</title>
    <!--    <link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}"/>-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form th:object="${contribution}" method="post" class="form-horizontal"
                  role="form">
                <h2>Создание вклада</h2>

                <div class="form-group">
                    <div class="col-sm-9">
                        Минимальная сумма
                        <label th:if="${#fields.hasErrors('minOfSum')}" th:errors="*{minOfSum}"
                               class="validation-message"></label>
                        <input type="text" th:field="*{minOfSum}"
                               placeholder="Минимальная сумма" class="form-control"/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        Максимальная сумма
                        <label th:if="${#fields.hasErrors('maxOfSum')}" th:errors="*{maxOfSum}"
                               class="validation-message"></label>
                        <input type="text" th:field="*{maxOfSum}"
                               placeholder="Максимальная сумма" class="form-control"/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        Срок вклада в днях
                        <input type="text" th:field="*{durationOfContributionInDays}" placeholder="Срок вклада в днях"
                               class="form-control"/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        Процентная ставка
                        <input type="text" value="" th:field="*{interestRate}" placeholder="Процентная ставка"
                               class="form-control"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-9">
                        Пополняемый?
                        <input type="checkbox" th:field="*{replenished}" placeholder="Пополняемый?"
                               class="form-control"/>
                    </label>

                </div>

                <div class="form-group">
                    <label class="col-sm-9">
                        Закрываемый?
                        <input type="checkbox" th:field="*{closing}" placeholder="Закрываемый?" class="form-control"/>
                    </label>
                </div>

                <div class="form-group">
                    <label class="col-sm-9">
                        Капитализируемый?
                        <input type="checkbox" th:field="*{capitalize}" placeholder="Капитализируемый?"
                               class="form-control"/>
                    </label>
                </div>

                <div class="form-group">
                    <label class="col-sm-9">
                        Возможно снятие средств?
                        <input type="checkbox" th:field="*{possibleWithdrawFunds}"
                               placeholder="Возможно снятие средств?" class="form-control"/>
                    </label>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <button name="update"
                                type="submit" class="btn btn-primary btn-block">Отредактировать вклад</button>
                    </div>
                </div>

<!--                <h2><span class="text-success" th:utext="${'Вклад успешно отредактирован'}"></span></h2>-->

            </form>
        </div>
    </div>
</div>

</body>
</html>