<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <h3 th:inline="text">Добро пожаловать, [[${#httpServletRequest.remoteUser}]]</h3>

        <form th:action="@{/logout}" method="post">
            <button class="btn btn-md btn-danger btn-block" type="submit" value="Logout">Logout</button>
        </form>

        <br>

        <form th:action="@{/admin}" method="get">
            <button class="btn-group-vertical btn btn-md btn-info btn-block"
                    type="submit">Страница админа
            </button>
        </form>

        <br>

        <form th:action="@{/cards}" method="get">
            <button class="btn-group-vertical btn btn-md btn-success btn-block"
                    type="submit">Посмотреть информацию о карте/картах
            </button>
        </form>

        <br>

        <form th:action="@{/accounts}" method="get">
            <button class="btn-group-vertical btn btn-md btn-success btn-block"
                    type="submit">Посмотреть информацию о cчёте/счетах
            </button>
        </form>

        <br>

        <form th:action="@{/credit_cards}" method="get">
            <button class="btn-group-vertical btn btn-md btn-success btn-block"
                    type="submit">Посмотреть информацию о кредитных картах
            </button>
        </form>

        <br>

        <form th:action="@{/contributions}" method="get">
            <button class="btn-group-vertical btn btn-md btn-success btn-block"
                    type="submit">Посмотреть информацию о вкладах
            </button>
        </form>

        <br>

        <form th:action="@{/history}" method="get">
            <button class="btn-group-vertical btn btn-md btn-success btn-block"
                    type="Submit">Посмотреть историю переводов
            </button>
        </form>
    </div>
</body>
</html>