<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Снять средства с вклада</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="col-md-6 col-md-offset-3">

    <form th:action="@{/main}" method="get">
        <button class="btn btn-md btn-success btn-block" name="main_page"
                type="Submit">Main page
        </button>
    </form>

    <form method="post" class="form-horizontal">

        <h4>Выберите карту, куда вывести средства, перед закрытием вклада: </h4>

        <label for="card">
            <select size="3" name="card_number" id="card">
                <option th:each="card : ${cards}" th:value="${card.getFullNumber()}"
                        th:text="${card.getFullNumber()} + ', баланс: ' + ${card.getBalance()}"></option>
            </select>
        </label>

        <h5>Сумма вклада: <span th:utext="${contribution.sumOfContribution}"></span></h5>

        <form method="post">
            <!--            <input type="hidden" name="contribution_id" th:value="${contribution.id}"/>-->
            <button class="btn btn-success" type="submit" name="close_contribution">Закрыть вклад</button>
        </form>

<!--        <h4><span class="text-success" th:utext="${message}"></span></h4>-->

    </form>
</div>
</body>
</html>